// Миксины для стилизации текста под определенный шрифт

@mixin _styleFontMontserratRegular($size: 16px, $height: 1.2) {
  font-weight: 400;
  font-size: $size;
  font-style: normal;
  line-height: $height;
}
